body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}



/* Header Edits*/

.container{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background-color: white;
    padding-bottom: 60px;
}
h1{
    float:left;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 9px;
    font-size: 18px;
    background-color: white;
}
li{
    float: right;
    padding: 15px;
    list-style-type: none;
    font-size: 18px;
    background-color: white;
}
 a{
    color: #6b7280;
}
 a:hover{
   color: #5A67D8;
}


/* Hero Overview Section Edits*/
.overview-hero p{
    padding-bottom: 20px;
}

.overview-hero-image img{
    padding-top: 10px;
    padding-right: 50px;
    float:left;
    height:300px;
    width: 360px;
    mix-blend-mode: multiply;
}
.overview-hero{
   padding-top: 150px;
   padding-bottom: 150px;
   background-color: #E2E8F0;
}
 .overview-hero .container{
    
    background-color: #E2E8F0;
}
.overview-hero-text{
    padding-top: 10px;
}



/* Learn About Section Edits*/

.learn-about .cards{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    grid-gap: 25px;
    border-color:#E2E8F0;
}
.learn-about h2{
    font-size: 24px;
    color: #48BB78;
    padding-bottom: 25px;
    margin-left: 5px;
}
.learn-about h3{
    font-size: 21px;
    color: #48BB78;
}
.card img{
    height: 250px;
    width: 296px;
    border-radius: 5px;
}
.card{
    border: 1px solid #E2E8F0;
    box-shadow: 0px 4px 6px -1px grey;
}
.cards{
    text-align: center;
}



/* Testing Section */

.testing .container{
    background-color: #4A5568;
    color: white;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 200px;
}
.testing-desciption{
    margin-right: 350px;
}
.cta a{
    background-color: #48BB78;
    border-radius: 5px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    float: right;

}
/* Newsletter Edits */

.newsletter .container{
    margin-top: 50px;
    text-align: center;
    background-color: #48BB78;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
}
.newsletter .btn{
    background-color: #5A67D8;
    border-radius: 5px;
    padding: 15px;
    margin: 0px;
    border:none;
}
.form-group{
    display: inline;
}
#email{
    border-radius:5px;
    padding: 15px;
    border:none;
    padding-right: 90px;
}


/* Stories Edits */

.stories img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 35px;
}

.stories h2{
    padding-top: 90px;
    color: #5A67D8;
}

.stories a{
    color: #5A67D8;
}
.stories h3{
    font-size: 18px;
}
.stories .article-body{
    padding-bottom: 40px;
}


/* Footer Edits */

footer .container{
    background-color: #4A5568;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}